.button{
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 40px;
}

.button-primary{
    background-color: #1785e5;
    color: #fff;
}

.button-primary:hover{
    opacity: 0.9;
}


.button-primary-bordered{
    border: 1px solid #1785e5;
    color: #1785e5;
    background-color: transparent;
}
.button-primary:hover{
    opacity: 0.9;
}


.button-secondary-bordered{
    border: 1px solid #BCBEBF;
    color: #303233;
    background-color: #FAFAFA;
}