.card{
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);  
    -moz-box-shadow:0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 20px;
    max-width: 60%;
    position: relative;
    /* width: 100%; */
}
.h3{
    font-size: 17px;
    color: #3c9df2;
}
.card_for_offer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card_modal h1{
    margin-bottom: 10px;
}
.card h3{
    margin-top: 20px;
}
.card p{
    color: #6e7173;
    font-size: 14px;
}
.card_modal p{
   
    margin-bottom: 10px;
}
.p3:first-child{
    padding-left: 0;
}