.input{
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    width: 450px;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}
.inputauth{
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
}
.input:focus{
    border: 1px solid #1785e5;
    transition: .4s;
}
.mw-input:focus{
    border: 1px solid #1785e5;
    transition: .4s;
}
.autocomplite{
    position: relative;
    display: flex;
    flex-direction: column;
}
.tag{
    padding: 5px;
    border-radius: 4px;
    background-color: #eceff0;
    display: inline-block;
    margin-left: auto;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.textarea{
    height: 150px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.mw-input{
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
}
.lns{
    margin-bottom: 20px;
    position: relative;
}
.lns select:last-child{
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lns .remove{
    position: absolute;
    right: -10px;
    top: 10px;
    cursor: pointer;
}