.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.login-page .card {
    width: 700px !important;
    margin: 20px 0;
}

.login-page form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
