.radio-group{
    width: 100%;
}
.radio{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}
.radio input{
    margin: 0;
    width: 20px;
    height: 20px;
}
.radio label{
    margin: 0;
    font-weight: 400;
}
.checkbox{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}