h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}

h3, .h3{
    font-size: 16px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #000;
}
h4, .h4{
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
}