@import url('style/components/base.css');
@import url('style/components/header.css');
@import url('style/vendor/reset.css');
@import url('style/components/typography.css');
@import url('style/components/button.css');
@import url('style/components/input.css');
@import url('style/components/card.css');
@import url('style/components/login.css');
@import url('style/components/fieldset.css');
@import url('style/components/dropdown.css');
@import url('style/components/selectdate.css');
@import url('style/components/radio.css');
@import url('style/components/modal.css');
@import url('style/components/WorkingHistory.css');
@import url('style/components/education.css');
@import url('style/pages/resume.css');
@import url('style/pages/auth.css');
@import url('style/components/specType.css');
@import url('style/components/showvacancy.css');
@import url('style/components/table.css');
@import url('style/pages/managervacancy.css');